
body{
  background-color:black;
}
h1{
  color:Red;
  text-align:center;
}
#canvas{
  background-color:white;
   height:500px; 
  width:100%;
  display:block;
  cursor: url('./pencilIcon.png'), auto;  
}

.buttons{
  display:flex; 
  margin:0 auto; 
  justify-content: center;
  

}
img{
  display:block;
  cursor: pointer; 
}
#clear{
  cursor:pointer;
}
.active-btn{
  transform: scale(1.1); 
  transition: all 300ms ease; 
}