body{
    font-family: poppins;
  }
  .box{
    width: 500px;
    border: 1px solid lightgrey;
    border-radius: 30px 0px;
    box-shadow: 0px 1px 20px -10px;
    margin: auto;
    margin-top: 60px;
    background: black;
  }
  p{
    color: red;
    font-size: 12px;
    display: block;
    text-align: center;
  }
  h3{
    text-align: center;
    font-size: 25px;
    font-family: verdana;
    color: cyan;
  }
  h4{
    color: white;
    padding: 5px;
    margin: 5px;
    display: block;
  }
  #taskname{
    margin-left: 13px;
    margin-top: 10px;
    padding: 8.5px;
    width: 325px;
    outline: none;
    background: none;
    border: 1px solid white;
    color: cyan;
  }
  #addtask{
    padding: 10px;
    cursor: pointer;
    background: black;
    color: white;
    
  }
  #addtask:hover{transition: 0.5s;color: black;background: white;}
  #cleartask{
    padding: 10px;
    cursor: pointer;
    background: green;
    color: white;
  }
  #cleartask:hover{transition: 0.4s;color: white;background: darkred;}
  
  #tasklist{
    list-style: none;
    margin: 1px;
    padding: 15px;
  }
  li{
    margin: 2px;
    color: cyan;
    padding: 7px;
    border: 1px solid yellow;
    border-radius: 5px;
    cursor: pointer;
  }
  /* #tasklist button{
    background: none;
    float: right;
    cursor: pointer;
  } */
  ::placeholder{
    color: cyan;
  }
  .donebtn:hover{
    transform: scale(1.2);
    transition: 0.3s;
  }
  ul li.checked {
    background: lime;
    color: black;
    border: none;
    text-decoration: line-through;
  }
  
  